body {
    font-family: 'roboto';
    color: #dddddd;
    background-color: #222222;
}

.bookShelf {
    background-color: #333333;
    padding: 10px;
}

.shelfHeader {
    font-size: larger;
    font-weight: bolder;
    color: #FFFFFF;
}

.book {
    margin-left: 20px;
}